<div class="resizeGrip" id="resizeGripTopLeft"><a href="overwolf://settings/hotkeys#disable_marquee"><img src="images/settings.png"
      alt="settings"></a></div>
<div class="resizeGrip" id="resizeGripTop" onmousedown="dragResize('Top');"></div>
<div class="resizeGrip" id="resizeGripTopRight" onmousedown="closeWindow();"><img src="images/close.png" alt="close"></div>
<div class="resizeGrip" id="resizeGripRight" onmousedown="dragResize('Right');"></div>
<div class="resizeGrip" id="resizeGripBottomRight" onmousedown="dragResize('BottomRight');"></div>
<div class="resizeGrip" id="resizeGripBottom" onmousedown="dragResize('Bottom');"></div>
<div class="resizeGrip" id="resizeGripBottomLeft" onmousedown="dragResize('BottomLeft');"></div>
<div class="resizeGrip" id="resizeGripLeft" onmousedown="dragResize('Left');"></div>
<div class="site-wrapper-inner">
    <router-outlet></router-outlet>
</div>